header, main, div#Cardapio, footer, input{
    display: flex;
    flex-wrap: wrap;

}

main{
    justify-content: center;
    text-align: center;
}
nav#menu, div#Cardapio{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
    
}

button{
    background-color: yellow;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    width: 150px;
}
h1{
    text-align: center;
    width: 5em;
    background-color: yellow;
    border-radius: 10px;
    border-style: solid;
    
}


div.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

span.preco{
    background-color: yellow;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}
footer{
    justify-content: center;
}
header{
    justify-content: space-around;
    align-items: center;
}
hr{
    background-color: khaki;
}
body,html{
    background-image: url(../img/fundo5.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
}
div#logo{
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    display: flex;
   
    }

div#Frango{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    background-color: black rgba(0,0,0,0.85);
    
}
div#nome{
    background-color: yellow;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    Justify-content: space-around;

}
