body{
   display: flex;
   justify-content: center;
    background-color: rgba(13, 13, 179, 0.226);
    align-items: center;
    margin: 200px;
}
section{
    background-color: rgb(129, 135, 224);
    width: 88%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    text-align: center;
    background-color: rgb(147, 163, 216);
    width: 50%;
    box-shadow:20px 20px 10px rgb(35, 44, 92);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}